.cover__subtitle {
    margin: 0;
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 32px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.22;
    max-width: 360px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

@media screen and (max-width: 1024px) {

    .cover__subtitle {
       top: 227px;
    }
  
  }

  @media screen and (max-width: 768px) {

    .cover__subtitle {
       top: 147px;
    }
  
  }

  @media screen and (max-width: 414px) {

   .cover__subtitle {
      top: 49px;
      font-size: 14px;
      line-height: 1.14;
      width: 288px;
   }
 
 }