.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 52px;
    width: calc(100% - 96px);
    max-width: 1184px;
    padding-top: 28px;
    padding-bottom: 56px;
}

@media screen and (max-width: 1024px) {

    .header{
        width: calc(100% - 96px);
    }
  
  }

  @media screen and (max-width: 768px) {

    .header{
        width: calc(100% - 48px);
    }
  
  }

  @media screen and (max-width: 320px) {

    .header{
        width: calc(100% - 32px);
    }
  
  }