.cover {
  position: relative;
  width: calc(100% - 96px);
  max-width: 1184px;
  margin: auto;
  height: 740px;
}

@media screen and (max-width: 1024px) {

  .cover {
     width: 100vw;
     height: 680px;

  }

}

@media screen and (max-width: 768px) {

  .cover {
     height: 480px
  }

}

@media screen and (max-width: 414px) {

  .cover {
     height: 200px
  }

}