.footer {
    display: flex;
    margin: auto;
    width: calc(100% - 96px);
    max-width: 1184px;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 92px;
}

@media screen and (max-width: 768px) {

    .footer {
        width: calc(100% - 48px);
    }
  
  }